@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@media screen and (max-width: 393px) and (min-width: 320px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    font-family: "Poppins", sans-serif;
    background-color: #ff0000;
    color: #e6e6e6;
    overflow-x: hidden;
    font-size: 16px;
    height: 100%; /* Ensures the height takes up the full viewport */
    margin-top: 0;
    scroll-behavior: smooth;
    
  }

  p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    color: #e6e6e6;
    margin: 0;
    padding: 0;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #111111;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    margin-top: 0;
  }

  .nav-left, .nav-right {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .nav-links-left, .nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    font-size: 1.2rem;
  }

  a.nav-button {
    color: #e6e6e6;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    text-align: center;
  }

  a.nav-button:hover {
    color: #ffffff;
    background-color: #ffffff;
  }

  section {
    padding: 20px 10px;
    margin: 0 10px;
    background-color: #111111;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #e6e6e6;
  }

 /* Ensure the container is fixed to the viewport */
#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 100vh; /* Full height of the viewport */
  position: relative; /* Necessary for absolute positioning of icons */
  overflow: hidden; /* Prevent icons from going outside the container */
  background-color: #111111; 
  margin-top:-150px;
  padding: 20px 10px;
}


.intro-container {
  display: flex;
  margin-top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* Styling for the icon container */
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Add spacing between icons */
  margin-bottom: 20px; /* Space below icons */
}

/* Individual icon styling */
.icon {
  width: 50px;  /* Adjust as needed */
  height: 50px;
  cursor: pointer;
}

/* Additional floating icons styling (if necessary) */
.floating-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  transition: transform 3s linear;
}


  .greeting {
    font-size: 2.5rem;
  }

  .profile-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
  }

  .intro-text h1 {
    font-size: 2.5rem;
    line-height: 1.4;
    white-space: normal;
  }

  .intro-text h1 span {
    display: block;
    margin-bottom: 10px;
  }

  .highlight-purple {
    color: #d896ff;
  }

  .highlight-green {
    color: #16f1d1;
  }

  .highlight-yellow {
    color: #ffcc66;
  }

  .highlight-blue {
    color: #00c8ff;
  }

  .highlight-white {
    color: #ffffff;
  }

  .details {
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }

  .location {
    font-size: 1.2rem; /* Reduce the font size to fit on one line */
    font-weight: bold;
    margin-bottom: 20px;
    white-space: nowrap; /* Prevent the text from breaking into multiple lines */
    text-align: center; /* Center the text if needed */
  }

  .connect-button, .resume-button {
    padding: 10px 15px;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 10px;
  }

  .resume-button {
    border-color: #00c8ff;
  }

  /* Profile Section */
  #profile {
    flex-direction: column;
    text-align: center;
    min-height: auto;
    padding: 20px;
  }

  .section__pic-container {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }

  .section__text {
    margin-bottom: 20px;
  }

  .section__text__p1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #d896ff;
  }

  .section__text__p2 {
    font-size: 1.2rem;
  }

  /* Social Icons */
  .icon {
    width: 40px;
    height: 40px;
    margin: 10px;
  }

  .github-icon {
    width: 100px; /* Make the icon wider */
    height: auto; /* Keep the height proportional */
    margin-top: 10px; /* Adjust this value to lower the GitHub icon */
  }

  .resume-icon {
    width: 60px; /* Make the icon wider */
    height: auto; /* Keep the height proportional */
  }

  .linked-icon {
    width: 60px; /* Make the icon wider */
    height: auto; /* Keep the height proportional */
  }

  .icon:hover {
    transform: scale(1.1);
  }

  /* About Section */
  #about {
    padding: 20px;
    text-align: center;
  }

  .about-containers, .about-details-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .about-me-container p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    padding: 10px;
  }

  /* Experience Section */
  #experience {
    text-align: center;
    padding: 20px;
  }

  .experience-details-container {
    flex-direction: column;
    padding: 0;
  }

  .experience-sub-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .article-container {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: #1b1b1b;
    margin-bottom: 10px;
  }

  article img.CheckmarkIcon {
    width: 35px;
    height: 35px;
  }

  article h3 {
    font-size: 1.2rem;
  }

  article p {
    font-size: 1rem;
    color: #cccccc;
  }

  /* Contact Section */
  #contact {
    padding: 20px;
    background-color: #1b1b1b;
    border-radius: 10px;
  }

  .contact-info-upper-container {
    flex-direction: column;
    padding: 10px;
  }

  .contact-info-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-info-container p {
    font-size: 1.1rem;
  }

  .highlight-text-purple {
    color: #d896ff;
    font-weight: bold;
  }

  .highlight-text-orange {
    color: #ffcc66;
    font-weight: bold;
  }

  .highlight-text-blue {
    color: #00c8ff;
    font-weight: bold;
  }

  .highlight-text-green {
    color: #16f1d1;
    font-weight: bold;
  }

  /* Animations */
  .fade-in-up {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .fade-in-down {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .fade-in-visible {
    opacity: 1;
    transform: translateY(0);
  }

  /* Keypad Section */
  .keypad-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1b1b1b;
    border-radius: 10px;
    margin: 20px 0;
  }

  #output {
    width: 100%;
    height: 50px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .keypad {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .key {
    background-color: #888282b5;
    border: none;
    color: #ffffff;
    font-size: 16px;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    width: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  .key:hover {
    background-color: #000000;
    box-shadow: 0 0 10px #ffffff, 0 0 20px #989898;
  }

  .key.wide {
    width: 120px;
    padding: 10px;
  }

  /* Mobile Nav Styles */
  #mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #111111;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 999;
  }

  .nav-left, .nav-right {
    flex: 1;
  }

  .nav-links-left, .nav-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
  }

  .nav-links {
    justify-content: flex-end;
  }

  a.nav-button:hover {
    color: #ffffff;
    text-decoration: none;
  }

  .nav-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    outline: none;
    text-decoration: none;
  }

  .nav-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 0;
    transition: transform 0.4s ease;
    transform: scaleX(0);
    transform-origin: left;
  }

  .nav-button:hover::before {
    transform: scaleX(1);
  }

  .nav-button:hover {
    color: white;
  }

  .nav-button span {
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: color 0.4s ease;
  }

  /* Glow and Shake Animation for Hover */
  .glow-shake {
    animation: glow 1.5s infinite ease-in-out, shake 0.3s ease-in-out;
  }

  /* Projects Section Styling */
  .projects-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #1b1b1b;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .project-img, .project-video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .project-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .project-btn {
    background-color: transparent;
    border: 2px solid #00c8ff;
    padding: 10px 15px;
    border-radius: 5px;
    color: #e6e6e6;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  .project-btn:hover {
    background-color: #00c8ff;
    color: #111111;
  }

  /* Footer Styling */
  footer {
    background-color: #111111;
    padding: 30px 20px;
    text-align: center;
    color: #e6e6e6;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    position: relative;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .footer-tagline h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .highlight-aesthetics {
    color: #d896ff;
  }

  .highlight-functionality {
    color: #00c8ff;
  }

  .footer-explore h3,
  .footer-follow h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #ffcc66;
  }

  .footer-explore ul,
  .footer-follow ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .footer-explore ul li,
  .footer-follow ul li {
    margin-bottom: 5px;
  }

  .footer-explore a,
  .footer-follow a {
    text-decoration: none;
    color: #e6e6e6;
    font-size: 1rem;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }

  .footer-explore a:hover,
  .footer-follow a:hover {
    color: #00c8ff;
    text-shadow: 0 0 5px #00c8ff, 0 0 10px #00c8ff;
  }

  /* Footer Actions Section */
  .footer-actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .action-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 200px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
    gap: 20px;
  }

  .action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #333;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  }

  .action-button i {
    color: #ffffff;
    transition: color 0.3s ease;
  }

  .action-button:hover {
    background-color: #16f1d1;
    transform: rotate(15deg);
  }

  .action-button:hover i {
    color: #000000;
  }
}
