
#projects {
    position: relative;
  }
  
  .color-container {
    border-color: #ff8c00; 
    background: #1b1b1b; 
  }
  
  /* Style for the project images */
  .project-img{
    border-radius: 10px;
    width: 90%; 
    height: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
  }
  
  .project-video{
    border-radius: 10px;
    width: 80%; 
    height: 100%; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    object-fit: cover; 
  }
  .project-gif {
    border-radius: 10px;
    width: 90%; 
    height: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    object-fit: cover; 
}
  
  
  .project-title {
    margin: 1rem;
    color: #e6e6e6; 
  }
  
  .project-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none; 
    color: #e6e6e6; 
    border: 2px solid #ffffff; 
    background-color: transparent;
    border-radius: 5px; 
    transition: all 0.3s ease; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
  }
  
  .project-btn:hover {
    background-color: #ffffff; 
    color: #111111; 
    transform: scale(1.05); 
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between the two buttons */
    margin-top: 10px; /* Margin above the buttons */
  }
  
  .project-btn i {
    margin-right: 5px; /* Space between icon and text */
  }

  .project-one {
    border-color: #ff8c00; 
  }
  
  .project-two {
    border-color: #00c8ff; 
  }
  
  .project-three {
    border-color: #16f1d1; 
  }
  