body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #f4f4f4;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    font-size: 1.2em;
    color: #666;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    height: 300px; /* Adjust the height as needed */
    overflow: hidden; /* Hide overflow for continuous scrolling effect */
}

.tech-icon {
    width: 80px; /* Size of the icons */
    margin: 10px;
    animation: moveAcross 10s linear infinite;
    position: absolute;
}

/* Animation for moving icons across the screen */
@keyframes moveAcross {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}
